.btn{
    min-width: 120px;
    padding: 10px 15px;
    border: 1px solid lightcoral;
    background-color: lightgray;
    font-size: 14px;
}

.btn-primary{
    background-color: orange;
    border-color: orchid;
}

.btn-secondary{
    background-color: lightgreen;
    border-color: pink;
    color: white;
}

.btn-sm{
    font-size: 12px;
    min-width: 80px;
    padding: 8px 10px;
}