
/*FONT FAMILY*/
$font-family-map:(
    primary: "DM Serif Display",
    secondary: "Open Sans",
);

/*FONT SIZE*/
$font-size-map:(
    h1: 36px,
    h2: 28px,
    h3: 24px,
    h4: 20px, 
    p: 18px,
    btn: 14px,
);

/*COLORS*/
$btn-color:#2ECC71;
$btn-white:white;
$color-red:red;
$p-color:#6E798C;
$color-grey: grey;