@import "./mixers";

footer{
    align-self: center;
}

.footer{
    
    p{
        color:#B9BDCF;
        font-family: Poppins;
        span{
            font-weight: 600;
        }

        @media (max-width:600px) {
            text-align: center;
        }
    }
}