.input{
    border: none;
    border-radius: 4px;
    height: 55px;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    color: #B9BDCF;
    font-family: Roboto;
    font-weight: 100;
}

@media (max-width:420px) {
    input:placeholder-shown "Title, companies, experti...";
}   