
.input{
    border: none;
    border-radius: 4px;
    height: 55px;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    color: #B9BDCF;
    font-family: Roboto;
    font-weight: 100;
    
    &__small{
        display: none;
        @media (max-width:320px) {
            display: inline-block;
            -webkit-border-radius:0px;
        } 
    }

    &__medium{
        display: none;
        @media(max-width:420px) {
            display: inline-block;
            -webkit-border-radius:0px;     
        }

        @media (max-width:320px) {
            display: none;
            -webkit-border-radius:0px;   
        } 
    }
    
    &__large{
        display: inline-block;
        @media (max-width:420px) {
            display: none;
            .input[type="search"] {
                -webkit-appearance: none;
            }
        } 
    }
}

