/*COLORS*/
$color-red:red;
$color-lightblue:lightblue;
$color-lightgreen: lightgreen;
$color-brown: #924200dc;
$color-blue:blue;
$color-white:white;
$color-orange:orange;
$color-grey:grey;
$color-purple:#8633FF;
$color-black:black;

/*SIZE*/
$font-size-small:2rem;
$font-size-medium:3rem;
$font-size-big:4rem;

/*PADDING*/
$padding-small:2rem;
$padding-medium:4rem;
$padding-big:6rem;
